extends ../components/base/layout

block variables
  - const title = "Reshetnikov developer 🤟"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +works(works)
    +contact()

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
