extends ../components/base/layout

block variables
  - const title = "Портфолио"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--fixed"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "projects.html"

block main
  main
    section.section
      .container
        h1 Проекты

block modals
