mixin about()
  section#about.about.section
    .container
      h2.contact__title.title.title--h2.title--center.anime.anime--left-to-right(data-item="contact", data-num="01") About me
      .container.container--xs
        .about__intro.anime.anime--bottom-to-up
          .about__avatar
            +img("content/about", "avatar", "png", 100, 100, "avatar")
          .about__description
            p Привет! Я&nbsp;front-end разработчик, специализирующийся на&nbsp;создании веб-интерфейсов любой сложности. Моя цель&nbsp;&mdash; превратить ваши идеи в&nbsp;качественный и&nbsp;привлекательный пользовательский опыт.

            p Что вы&nbsp;получите, работая со&nbsp;мной? Не&nbsp;просто сайт , а&nbsp;качественный результат в&nbsp;области адаптивного дизайна и&nbsp;оптимизации производительности, чтобы вы&nbsp;были довольны конечным продуктом.

            p Моя философия&nbsp;&mdash; это не&nbsp;просто предоставление услуг, но&nbsp;и&nbsp;стремление к&nbsp;сотрудничеству, основанному на&nbsp;взаимопонимании и&nbsp;доверии. Я&nbsp;готов предложить Вам обеспечить выполнение поставленных задач в&nbsp;кратчайшие сроки без ущерба для качества работы.

            p Давайте вместе создадим что-то удивительное!
          .about__cv
            +btn({text: "Download CV",
            href: "https://drive.google.com/file/d/17y_qPXcC3pE5L16q7sAwyFYQ5aqdXlWH/view?usp=drive_link",
            isExternal: true
            })#btn-cv.btn--default
        +career()
