mixin about()
  section#about.about.section
    .container
      h2.contact__title.title.title--h2.title--center.anime.anime--left-to-right(data-item="contact", data-num="01") About me
      .container.container--xs
        .about__intro.anime.anime--bottom-to-up
          //- .about__avatar
            +img("content/about", "avatar", "png", 100, 100, "avatar")
          .about__description
            p Разрабатываю клиентские решения на&nbsp;React + Redux + TypeScript + Next. Использую большинство библиотек и&nbsp;инструментов экосистемы React.

            p Постоянно совершенствуюсь, изучая современные технологии через официальную документацию, профессиональные сообщества и&nbsp;участие в&nbsp;проектах. Ориентирован на&nbsp;результат, умею работать в&nbsp;команде и&nbsp;открыто воспринимаю конструктивную критику.

          .about__cv
            +btn({text: "Download CV",
            href: "https://arshtnkv.ru/docs/resume.pdf",
            isExternal: true
            })#btn-cv.btn--default(download)
        //- +career()
