mixin about()
  section#about.about.section
    .container
      h2.contact__title.title.title--h2.title--center.anime.anime--left-to-right(data-item="contact", data-num="01") About me
      .container.container--xs
        .about__intro.anime.anime--bottom-to-up
          .about__avatar
            +img("content/about", "avatar", "png", 100, 100, "avatar")
          .about__description
            p Greetings! I&nbsp;am an&nbsp;experienced front-end engineer specializing in&nbsp;creating web applications of&nbsp;any complexity. My&nbsp;goal is&nbsp;to&nbsp;turn your ideas into a&nbsp;quality and engaging user experience. My&nbsp;commitment to&nbsp;excellence and innovative approach allows me&nbsp;to&nbsp;deliver projects that add real value.

            p What will you get by&nbsp;working with&nbsp;me? Not just a&nbsp;website or&nbsp;application, but a&nbsp;result that will be&nbsp;of&nbsp;high quality. I&nbsp;pride myself on&nbsp;my&nbsp;skills in&nbsp;front-end development, responsive design, and performance optimization to&nbsp;ensure you&rsquo;re satisfied with the final product.

            p My philosophy is not just the provision of services, but also the desire for cooperation based on mutual understanding and trust. I am ready to offer you the best combination of quality and price, as well as ensure that tasks are completed in the shortest possible time without compromising the quality of work.

            p Let&rsquo;s create something amazing together!
          .about__cv
            +btn({text: "Download CV",
            href: "https://drive.google.com/file/d/17y_qPXcC3pE5L16q7sAwyFYQ5aqdXlWH/view?usp=drive_link",
            isExternal: true
            })#btn-cv.btn--default
        +career()
