mixin card(data)
  article.card&attributes(attributes)
    .card__img
      +picture(data.img.path, data.img.name, data.img.format, data.img.width, data.img.height, data.img.altText)
    .card__content
      .card__top
        span.card__readmy README.md
        +btn({
          href: data.github,
          iconName: "github",
          iconWidth: 20,
          iconHeight: 20,
          isExternal: true
          }).btn--hover-circle.btn--radiius-50.card__btn-github(title="github" aria-label="Кнопка github")
      h3.card__title.title.title--h5 !{data.title}
      .card__btn-see
        +btn({
          text: "Сlick to see",
          href: data.href,
          isExternal: true
          }).btn--default

