mixin career()
  .career&attributes(attributes)
    h3.career__title.title.title--h3.title--uppercase Career
    ul.career__list
      li.career__item
        .career__header
          h4.title.title--h4 Freelance
          h5.title.title--h5 Frontent Developer
          p.career__timeframe March 2024 - Present
        .career__description
          p Implementation of&nbsp;commercial projects according to&nbsp;the company&rsquo;s criteria and clients&rsquo; specifications
          p I&nbsp;use it&nbsp;while working:
          ul
            li Adaptive / Responsiv / W3C / Pixel Perfect
            li HTML / Pug / BEM
            li CSS / SASS / Flexbox / Grid / bootstrap
            li Java Script / Vanilla JS / Jquery / (es5+)
            li SPA / React / Redux / TypeScript
            li CMS / WordpPess
            li CRM / Bitrix24 / amoCRM
            li Gulp / Webpack / Vite
            li Git / Bitbucket
            li Figma / Photoshop / Zeplin / и др
            li Graphic / svg / jpeg / png / webp
            li Animation / anime css / anime.js / gsap.js
      li.career__item
        .career__header
          h4.title.title--h4 Rosmebel
          h5.title.title--h5 Web Developer
          p.career__timeframe November 2023 - March 2024
        .career__description
          p Support, administration, development.
      li.career__item
        .career__header
          h4.title.title--h4 Liga A
          h5.title.title--h5 Frontent Developer
          p.career__timeframe July 2021 - June 2023
        .career__description
          p Distant work. Implementation of&nbsp;commercial projects according to&nbsp;the company&rsquo;s criteria and clients&rsquo; specifications. Work in&nbsp;a&nbsp;team of&nbsp;developers, managers, testers.
          p While working I&nbsp;used:
          ul
            li HTML, PUG
            li CSS, SCSS
            li JS (ES5, ES6)
            li методология BEM
            li Git
            li Gulp, Webpack
            li Figma, Photoshop
            li various plugins and libraries
          p In projects, depending on the terms of reference, it was necessary to:
          ul
            li comply with the company&rsquo;s criteria and client&rsquo;s specifications
            li support different versions of browsers and operating systems
            li test projects independently
            li create interactive blocks (sliders, tabs, filtering and sorting, modal windows and forms with validation and animation)
