mixin career()
  .career&attributes(attributes)
    h3.career__title.title.title--h3.title--uppercase.anime.anime--bottom-to-up Опыт
    ul.career__list
      li.career__item.anime.anime--bottom-to-up
        .career__header
          h4.title.title--h4 Частная практика
          h5.title.title--h5 Фронтенд разработчик
          p.career__timeframe Март 2024&nbsp;&mdash; по&nbsp;настоящее время
        .career__description
          p Реализация коммерческих проектов по&nbsp;критериям компании и&nbsp;ТЗ клиентов.
          p Во&nbsp;время работы использую:
          ul
            li Adaptive / Responsiv / W3C / Pixel Perfect
            li <b>HTML</b> / Pug / BEM
            li <b>CSS</b> / SASS / Flexbox / Grid / bootstrap
            li <b>Java Script</b> / Vanilla JS / Jquery / (es5+)
            li SPA / React / Redux / TypeScript
            li CMS / WordpPess
            li CRM / Bitrix24 / amoCRM
            li Gulp / Webpack / Vite
            li Git / Bitbucket
            li Figma / Photoshop / Zeplin / и др
            li Graphic / svg / jpeg / png / webp
            li Animation / anime css / anime.js / gsap.js
      li.career__item.anime.anime--bottom-to-up
        .career__header
          h4.title.title--h4 Росмебель
          h5.title.title--h5 Веб разработчик
          p.career__timeframe Ноябрь 2023&nbsp;&mdash; Март 2024
        .career__description
          p Поддержка, администрирование, разработкка.
          p Во&nbsp;время работы использовал:
          ul
            li PUG
            li SASS
            li JS
            li PHP
            li CRM Bitrix24, amoCRM
      li.career__item.anime.anime--bottom-to-up
        .career__header
          h4.title.title--h4 Лига А
          h5.title.title--h5 Фронтенд разработчик
          p.career__timeframe Июль 2021&nbsp;&mdash; июнь 202
        .career__description
          p Реализация коммерческих проектов по&nbsp;критериям компании и&nbsp;ТЗ клиентов. Работа в&nbsp;команде разработчиков, менеджеров, тестировщиков.
          p Во&nbsp;время работы использовал:
          ul
            li HTML, PUG
            li CSS, SCSS
            li JS (ES5, ES6)
            li методология BEM
            li Git
            li Gulp, Webpack
            li Figma, Photoshop
            li различные плагины и&nbsp;библиотеки
          p В&nbsp;проектах, в&nbsp;зависимости от&nbsp;технического задания, приходилось:
          ul
            li соблюдать критерии компании и&nbsp;ТЗ клиента
            li поддерживать различные версии браузеров и операционных систем
            li самостоятельно тестировать проекты
            li создавать интерактивные блоки (слайдеры, табы, фильтрация и&nbsp;сортировка, модальные окна и&nbsp;формы с&nbsp;валидацией и&nbsp;анимацией)
