mixin contact()
  section#contact.section.contact&attributes(attributes)
    .container
      h2.contact__title.title.title--h2.title--center.anime.anime--left-to-right(data-item="contact", data-num="03") Contact me
      +contact-form().anime.anime--bottom-to-up
