mixin intro()
  section.section.intro#intro&attributes(attributes)
    canvas#sphere.anime.anime--up-to-down
    .container
      .intro__github.anime.anime--github
        +btn({href: "https://github.com/arshtnkv?tab=repositories", iconName: "github", iconWidth: 50, iconHeight: 50, isExternal: true})#btn-github.btn--hover-scale
      h1.intro__title.title.title--h1.anime.anime--left-to-right(aria-label="Hi, i'm Arshtnkv, web developer")
        span
          span H
          span i
          span ,
        br
        span
          span I
          span '
          span m
        span.sign
          span F
          span.fast-flicker r
          span.flicker o
          span n
          span.flicker t
          span e
          span.fast-flicker n
          span d
        br
        strong.crushed-text.box
          span d
          span e
          span v
          span e
          span l
          span o
          span p
          span e
          span r
      ul.intro__links.anime.anime--right-to-left
        li.intro__links-item
          +btn({text: "Resume", href: "https://drive.google.com/file/d/1KqmK2uDIgbXw-l6uQoEtdRDoI_SVMbdK/view?usp=share_link", isExternal: true})#btn-cv.btn--default
        li.intro__links-item
          +btn({text: "My works!", href: "#works"})#btn-work.btn--default(data-btn="works" data-navigation-link)
