mixin intro()
  section.section.intro#intro&attributes(attributes)
    .container
      .intro__github.anime.anime--github
        +btn({href: "https://github.com/arshtnkv?tab=repositories", iconName: "github", iconWidth: 50, iconHeight: 50, isExternal: true})#btn-github.btn--hover-scale
      h1.intro__title.title.title--h1.anime.anime--left-to-right(aria-label="Hi, i'm Arshtnkv, web developer") Привет, я фронтенд разработчик

      .intro__link.anime.anime--right-to-left
        +btn({text: "Обо мне", href: "#about"})#btn-work.btn--default(data-navigation-link)
