mixin map()
  //- .map(data-zoom = "11", data-content = "Рождественская 107, 11", data-coords ="[58.603600, 49.668007]", data-marker ="[58.603600, 49.668007]", data-url="https://api-maps.yandex.ru/2.1/?apikey=29c7ef5a-fcf6-4cbd-83ab-ef8bc5ac782f&lang=ru_RU")&attributes(attributes)

  .map(
      data-longitude="58.603600",
      data-latitude="49.668007",
      data-zoom="10",
      data-pin="img/svg/map-pin.svg",
  )&attributes(attributes)
