mixin work(data)
  section#work.section.work&attributes(attributes)
    .container
      h2.work__title.title.title--h2.title--center
        span !{data.title}

      .work__gallery
        each it in data.gallery
          +card(it)

