.about {
  & .container > .container {
    padding: 0;
  }

  &__intro {
    margin-bottom: calc($index * 4);
  }

  &__avatar {
    float: left;
    shape-outside: circle();
    margin-right: 40px;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;

      @include vp-767 {
        width: 155px;
        height: 155px;
      }
    }
  }

  &__description {
    grid-column: 2/3;
    grid-row: 1/3;

    @include vp-767 {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    p {
      margin: 0 0 20px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__cv {
    max-width: 400px;
    margin-top: 100px;

    @include vp-1023 {
      margin-top: 60px;
    }

    @include vp-767 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
}

