.card {
  position: relative;
  display: flex;

  width: 50%;
  padding-bottom: 50%;
  overflow: hidden;
  box-sizing: border-box;

  @include vp-767 {
    width: 100%;
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-default-black, 1);
    transition: opacity $trans-default;
    z-index: 1;
    opacity: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include vp-767 {
      position: static;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      z-index: -1;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 45px;
    transition: transform $trans-default;
    z-index: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: calc($index * 2);
  }

  &__readmy {
    font-family: $ff-roboto;
    transform: translateY(-100px);
    transition: transform $trans-default;
  }

  &__btn-github {
    transform: translateX(100px) rotate(360deg);
    transition: transform $trans-default;
  }

  &__title {
    transform: translateX(-120%);
    transition: transform $trans-default;
  }

  &__btn-see {
    position: relative;
    max-width: 150px;
    margin-top: auto;
    transform: translateX(-500px);
    transition: transform $trans-default;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -45px;
      width: 45px;
      height: 2px;
      background-color: $color-nero2;
    }

    .btn--default {
      background-color: rgba($color-default-black, 0.7);
    }
  }

  &:hover {
    z-index: 9;

    &::before {
      transition: opacity $trans-default;
      opacity: 1;
    }

    .card__readmy {
      transform: translateY(0);
      transition: transform $trans-default;
    }

    .card__btn-github {
      transform: translateX(0) rotate(0);
      transition: transform 1000ms ease;
    }

    .card__title {
      transform: translateX(0);
      transition: transform $trans-default;
    }

    .card__btn-see {
      transform: translateX(0);
      transition: transform $trans-default;
    }
  }

  // @include hover-focus {
  //   z-index: 9;

  //   &::before {
  //     transition: opacity $trans-default;
  //     opacity: 1;
  //   }

  //   .card__readmy {
  //     transform: translateY(0);
  //     transition: transform $trans-default;
  //   }

  //   .card__btn-github {
  //     transform: translateX(0) rotate(0);
  //     transition: transform 1000ms ease;
  //   }

  //   .card__title {
  //     transform: translateX(0);
  //     transition: transform $trans-default;
  //   }

  //   .card__btn-see {
  //     transform: translateX(0);
  //     transition: transform $trans-default;
  //   }
  // }
}
