.contact {

  &__title {
    margin-bottom: 150px;

    @include vp-1023 {
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;

      @include vp-1023 {
        margin-bottom: 30px;
      }

      @include vp-767 {
        margin-bottom: 0;
      }

      .btn {
        &::before {
          inset: unset;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 50px;
  }

  &__info.container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
