.footer {
  background-color: $color-eclipse;

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;

    @include vp-767 {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // align-self: flex-end;

    font-family: $ff-roboto;
    font-size: 13px;
    font-weight: 400;
    user-select: none;

    @include vp-767 {
      align-self: center;
      align-items: center;
    }
  }

  &__github {
    max-height: 20px;
    svg {
      width: 20px;
      height: 20px;
      color: $color-willow-brook;
    }
  }
}
