.link {
  cursor: pointer;
  font: inherit;
  color: inherit;
  user-select: none;
  transition: opacity $trans-default;

  &--default {
    position: relative;
    display: block;
    letter-spacing: 2px;
    transition: color $trans-default;

    &::before {
      content: attr(data-item);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;

      font: inherit;
      font-weight: 700;
      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: $color-crusoe;
      overflow: hidden;
      transition: width $trans-default;
    }

    @include hover-focus {
      color: $color-nero2;
      // transition: color $trans-default;
      &::before {
        width: 100%;
      }
    }

    @include active {
      color: $color-crusoe;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--hover-underline{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-decoration-color: $color-transparent;
    transition: text-decoration-color $trans-default;
    @include hover-focus {
      text-decoration-color: $color-crusoe;
      transition: text-decoration-color $trans-default;
    }
  }

  &.is-active {
    pointer-events: none;
    color: $color-crusoe;
    // font-weight: 700;
  }
}
