.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.3s 1s ease-out;

  &__loader {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 5px solid transparent;
    border-top-color: $color-nero2;
    border-radius: 100%;
    animation: spin 2s linear infinite;
    z-index: 1001;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      border: 5px solid transparent;
      border-top-color: $color-eclipse;
      border-radius: 100%;
      animation: spin 3s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 14px;
      right: 14px;
      bottom: 14px;
      border: 5px solid transparent;
      border-top-color: $color-nero;
      border-radius: 100%;
      animation: spin 1.5s linear infinite;
    }
  }

  &__section {
    position: fixed;
    top: 0;
    background: $color-nero2;
    width: 51%;
    height: 100%;
    z-index: 1000;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &.is-hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;

    .preloader {
      &__loader {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s 0.3s ease-out;
      }

      &__percent {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s 0.3s ease-out;
      }

      &__section--left {
        transform: translateX(-100%);
        transition: all 0.7s 0.3s cubic-bezier(0.64, 0.04, 0.35, 1);
      }

      &__section--right {
        transform: translateX(100%);
        transition: all 0.7s 0.3s cubic-bezier(0.64, 0.04, 0.35, 1);
      }
    }
  }
}
