.section {
  position: relative;

  .container {
    padding-top: 40px;
    padding-bottom: 100px;

    @include vp-1023 {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }

  &--nopadding {
    .container {
      padding: 0;
    }
  }

  &--fullscreen {
    min-height: 100vh;
  }
}
