.section {
  position: relative;
  overflow: hidden;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    @include vp-1023 {
      padding-top: 75px;
      padding-bottom: 50px;
    }
  }

  &--nopadding {
    .container {
      padding: 0;
    }
  }

  &--fullscreen {
    min-height: 100vh;
  }
}
