.title {
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 700;
  line-height: 1;
  color: inherit;
  z-index: 20;

  &--h1 {
    font-size: calc($index * 3.5);
    line-height: 1.1;

    .sign {
      margin-left: 20px;
    }

    strong {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      opacity: 0.4;
    }

    @include vp-767 {
      font-size: 34px;
      line-height: 1.2;
    }
  }

  &--h2 {
    font-size: calc($index * 3);
  }

  &--h3 {
    font-size: 30px;
  }

  &--h4 {
    font-size: 20px;
  }

  &--center {
    text-align: center;
  }

  &--effect {
    // font-family: $ff-montserrat;
    // font-weight: 800;
    color: $color-nero2;
    text-shadow: 0 13.36px 8.896px #51966b,0 -2px 1px #195931;
  }

  // &--letterpress {
  //   color: #fefefe;
  //   text-shadow: #e7e7e7 3px 5px 0,
  //               #999 4px 6px 3px,
  //               #ccc 8px 11px 10px;
  // }
}
