.title {
  position: relative;
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 700;
  line-height: 1;
  color: inherit;
  z-index: 20;

  &--h1 {
    padding-right: 10px;
    margin-bottom: 8rem;
    font-size: calc($index * 3.5);
    line-height: 1.1;

    .sign {
      margin-left: 20px;
    }

    strong {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      color: rgba($color-snow, 0.4);
    }

    @include vp-767 {
      font-size: 34px;
      line-height: 1.2;
    }
  }

  &--h2 {
    padding-top: calc($index * 6.5);
    padding-left: calc($index * 6);
    font-size: calc($index * 3);

    &::before {
      content: attr(data-num);
      position: absolute;
      top: 0;
      left: 0;
      font-size: calc($index * 7);
      line-height: 1;
      letter-spacing: -.045em;
      color: $color-nero2;
      // border-bottom: calc($index * .2) solid $color-crusoe;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: calc($index * 1.6);
      left: calc($index * 0.5);
      width: calc($index * 4);
      height: 2px;
      background-color: $color-crusoe;
    }
  }

  &--h3 {
    font-size: 30px;
  }

  &--h4 {
    font-size: 20px;
  }
}
