.works {
  position: relative;
  border-bottom: calc($index * 1) solid $color-nero2;

  .container {
    padding-bottom: 0;
    padding-bottom: calc($index * 3);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: $color-nero2;

    @include vp-767 {
      display: none;;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    @include vp-767 {
      row-gap: 20px;
    }
  }

  &__gallery-btn-more {
    max-width: 250px;
    padding: 14px 20px;
    margin-top: calc($index * 3);

    text-align: center;

    @include vp-767 {
      max-width: 100%;
    }
  }
}
