mixin logo()
  if(currentUrl === "index.html")
    .logo&attributes(attributes)
      +icon("logo", 150, 20)
  else
    a.logo(href="index.html", aria-label="Переход на главную")&attributes(attributes)
      +icon("logo", 150, 20)
