mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__github
        +btn({href: "https://github.com/arshtnkv?tab=repositories", iconName: "github", iconWidth: 20, iconHeight: 20, isExternal: true}).btn--hover-circle.btn--radiius-50(title="github" aria-label="Кнопка github")
      .footer__copyright
        +btn({text: "arshtnkv@gmail.com", href: "mailto:arshtnkv@gmail.com"}).btn--underline
        span © 2020 - 2023 Copyright
