mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      p.footer__copyright © 2023
        | #[a(class="link link--hover-underline" href="mailto:arshtnkv@gmail.com") arshtnkv@gmail.com]
      .footer__link
        +btn({href: "https://github.com/arshtnkv?tab=repositories", iconName: "github", iconWidth: 20, iconHeight: 20, isExternal: true}).btn--hover-circle.btn--radiius-50(title="github" aria-label="Кнопка github")
