mixin header(headerMods, currentUrl)
  -
    const btns = [
      {
        href: "#intro",
        text: "Home",
      },
      {
        href: "#works",
        text: "works",
      },
      {
        href: "#contact",
        text: "contact"
      },
    ];
  header.header.hidden#header(class=headerMods)
    .container
      +logo()
      nav.header__nav
        button.header__nav-toggle.btn.btn--burger(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          each span in Array(9).fill('')
            span
        .header__nav-wrapper
          ul.header__nav-list
            each btn in btns
              li.header__nav-item
                +btn({text: btn.text, href: btn.href}).btn--fill-text(data-btn=btn.text aria-label=`Перейти к блоку ${btn.text}` data-navigation-link)

