@keyframes disableBreakpointAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6e6;
    text-shadow: 0 0 0.6rem #ffe6e6, 0 0 1.5rem $color-screamin-green,
      -0.2rem 0.1rem 1rem $color-screamin-green, 0.2rem 0.1rem 1rem $color-screamin-green,
      0 -0.5rem 2rem $color-crusoe, 0 0.5rem 3rem $color-crusoe;
  }
  28%,
  33% {
    color: $color-screamin-green;
    text-shadow: none;
  }
  82%,
  97% {
    color: $color-crusoe;
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: $color-crusoe;
    text-shadow: none;
  }
  100% {
    color: #ffe6e6;
    text-shadow: 0 0 0.6rem #ffe6e6, 0 0 1.5rem $color-screamin-green,
      -0.2rem 0.1rem 1rem $color-screamin-green, 0.2rem 0.1rem 1rem $color-screamin-green,
      0 -0.5rem 2rem $color-crusoe, 0 0.5rem 3rem $color-crusoe;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

@keyframes github {
  0% {
    transform: translateX(-3000px) rotate(-3000deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0);
  }
}

@keyframes up-to-down {
  0% {
    transform: translateY(-1500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

