$color-default-black:                                     #000000;
$color-default-white:                                     #ffffff;
$color-transparent:                        rgba(255, 255, 255, 0);

$color-nero:                                              #1d1d1d;
$color-nero2:                                             #242424;
$color-snow:                                              #fafafa;
$color-smoky:                                             #5b5b5c;

$color-screamin-green:                                    #46ff8c;
$color-ocean-green:                                       #51966b;
$color-crusoe:                                            #195931;

$fz-default:                                                   20px;
$index:                                             calc(1vw + 1vh);

$ff-roboto:                            "Roboto", "Arial", sans-serif;
$ff-montserrat:                    "Montserrat", "Arial", sans-serif;

$tf-default:                                                    ease;
$trans-default:                                     0.3s $tf-default;
$trans-preloader:                                   0.6s $tf-default;
$trans-modal:                     0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                                         0.6s $tf-default;

$vp-320:                                                        320px;
$vp-375:                                                        375px;
$vp-768:                                                        768px;
$vp-600:                                                        600px;
$vp-1024:                                                      1024px;
$vp-1280:                                                      1280px;
$vp-1440:                                                      1440px;
$vp-1920:                                                      1920px;

$retina-dpi:                                                   144dpi;
$retina-dppx:                                                  1.5dppx;
