-
  const works = {
    title: "Works",
    gallery: [
      {
        title: "Pubg master sway",
        href: "https://pubg-masters-way-arshtnkv.vercel.app/",
        info: {
          title: "Freelance Project",
          subtitle: "Pubg masters way"
        },
        lag: "0.5",
        img: {
          path: "content/projects",
          name: "pubgmastersway",
          format: "png",
          width: 500,
          height: 500,
          altText: "pubgmastersway"
        }
      },
      {
        title: "Jawallery",
        href: "https://accelerator-level-3-jewellery.vercel.app/",
        info: {
          title: "accelerator level-3",
          subtitle: "Jewellery"
        },
        lag: "0.5",
        img: {
          path: "content/projects",
          name: "jawallery",
          format: "png",
          width: 500,
          height: 500,
          altText: "jawallery"
        }
      },
      {
        title: "Pink",
        href: "https://pink-20-arshtnkv.vercel.app/",
        info: {
          title: "htmlacademy level-2",
          subtitle: "Pink"
        },
        lag: "1",
        img: {
          path: "content/projects",
          name: "pink",
          format: "png",
          width: 500,
          height: 500,
          altText: "pink"
        }
      },
      {
        title: "Bicycles",
        href: "https://bicycles-ebon.vercel.app/",
        info: {
          title: "accelerator level-1",
          subtitle: "Bicycles"
        },
        lag: "2",
        img: {
          path: "content/projects",
          name: "bicycles",
          format: "png",
          width: 500,
          height: 500,
          altText: "bicycles"
        }
      },
      {
        title: "Smart-device",
        href: "https://smart-device-dusky.vercel.app/",
        info: {
          title: "accelerator level-2",
          subtitle: "Smart-device"
        },
        lag: "1",
        img: {
          path: "content/projects",
          name: "smart-device",
          format: "png",
          width: 500,
          height: 500,
          altText: "smart-device"
        }
      },
      {
        title: "Technomart",
        href: "https://technomart-arshtnkv.vercel.app/",
        info: {
          title: "htmlacademy level-1",
          subtitle: "Technomart",
        },
        lag: "2",
        img: {
          path: "content/projects",
          name: "technomart",
          format: "png",
          width: 500,
          height: 500,
          altText: "technomart"
        }
      },
      {
        title: "Keksobooking",
        href: "https://keksobooking-arshtnkv.vercel.app/",
        info: {
          title: "htmlacademy level-3",
          subtitle: "Keksobooking"
        },
        lag: "0.5",
        img: {
          path: "content/projects",
          name: "keksobooking",
          format: "png",
          width: 500,
          height: 500,
          altText: "keksobooking"
        }
      },
    ]
  };
