-
  const works = {
    title: "Works",
    gallery: [
      {
        title: "Pubg master sway",
        href: "https://pubg-masters-way-arshtnkv.vercel.app/",
        github: "https://github.com/arshtnkv/pubg-masters-way",
        img: {
          path: "content/projects",
          name: "pubgmastersway",
          format: "png",
          width: 500,
          height: 500,
          altText: "pubgmastersway"
        }
      },
      {
        title: "Jawallery",
        href: "https://accelerator-level-3-jewellery.vercel.app/",
        github: "https://github.com/arshtnkv/accelerator-level-3-jewellery",
        img: {
          path: "content/projects",
          name: "jawallery",
          format: "png",
          width: 500,
          height: 500,
          altText: "jawallery"
        }
      },
      {
        title: "Pink",
        href: "https://pink-20-arshtnkv.vercel.app/",
        github: "https://github.com/arshtnkv/htmlacademy-level-2-pink-20",
        img: {
          path: "content/projects",
          name: "pink",
          format: "png",
          width: 500,
          height: 500,
          altText: "pink"
        }
      },
      {
        title: "Bicycles",
        href: "https://bicycles-ebon.vercel.app/",
        github: "https://github.com/arshtnkv/accelerator-level-1-bicycles",
        img: {
          path: "content/projects",
          name: "bicycles",
          format: "png",
          width: 500,
          height: 500,
          altText: "bicycles"
        }
      },
      {
        title: "Smart-device",
        href: "https://smart-device-dusky.vercel.app/",
        github: "https://github.com/arshtnkv/accelerator-level-2-smart-device",
        img: {
          path: "content/projects",
          name: "smart-device",
          format: "png",
          width: 500,
          height: 500,
          altText: "smart-device"
        }
      },
      {
        title: "Technomart",
        href: "https://technomart-arshtnkv.vercel.app/",
        github: "https://github.com/arshtnkv/htmlacademy-level-1-technomart",
        img: {
          path: "content/projects",
          name: "technomart",
          format: "png",
          width: 500,
          height: 500,
          altText: "technomart"
        }
      },
      {
        title: "Keksobooking",
        href: "https://keksobooking-arshtnkv.vercel.app/",
        github: "https://github.com/arshtnkv/htmlacademy-level-3-keksobooking-21",
        img: {
          path: "content/projects",
          name: "keksobooking",
          format: "png",
          width: 500,
          height: 500,
          altText: "keksobooking"
        }
      },
    ]
  };
