-
  const works = {
    title: "Works",
    controls: [
      {
        text: "All",
        category: "all"
      },
      {
        text: "Educational",
        category: ".educational"
      },
      {
        text: "React",
        category: ".react"
      },
      {
        text: "Freelance",
        category: ".freelance"
      },
    ],
    gallery: [
      {
        title: "Technomart",
        category: "educational card--left",
        href: "https://technomart-arshtnkv.vercel.app/",
        info: {
          title: "htmlacademy level-1",
          subtitle: "Technomart",
        },
        lag: "2",
        img: {
          path: "content/projects",
          name: "technomart",
          format: "png",
          width: 500,
          height: 500,
          altText: "technomart"
        }
      },
      {
        title: "Pink",
        category: "educational card--center",
        href: "https://pink-20-arshtnkv.vercel.app/",
        info: {
          title: "htmlacademy level-2",
          subtitle: "Pink"
        },
        lag: "1",
        img: {
          path: "content/projects",
          name: "pink",
          format: "png",
          width: 500,
          height: 500,
          altText: "pink"
        }
      },
      {
        title: "Keksobooking",
        category: "educational card--right",
        href: "https://keksobooking-arshtnkv.vercel.app/",
        info: {
          title: "htmlacademy level-3",
          subtitle: "Keksobooking"
        },
        lag: "0.5",
        img: {
          path: "content/projects",
          name: "keksobooking",
          format: "png",
          width: 500,
          height: 500,
          altText: "keksobooking"
        }
      },
      {
        title: "Bicycles",
        category: "educational card--left",
        href: "https://bicycles-ebon.vercel.app/",
        info: {
          title: "accelerator level-1",
          subtitle: "Bicycles"
        },
        lag: "2",
        img: {
          path: "content/projects",
          name: "bicycles",
          format: "png",
          width: 500,
          height: 500,
          altText: "bicycles"
        }
      },
      {
        title: "Smart-device",
        category: "educational card--center",
        href: "https://smart-device-dusky.vercel.app/",
        info: {
          title: "accelerator level-2",
          subtitle: "Smart-device"
        },
        lag: "1",
        img: {
          path: "content/projects",
          name: "smart-device",
          format: "png",
          width: 500,
          height: 500,
          altText: "smart-device"
        }
      },
      {
        title: "Jawallery",
        category: "educational card--right",
        href: "https://accelerator-level-3-jewellery.vercel.app/",
        info: {
          title: "accelerator level-3",
          subtitle: "Jewellery"
        },
        lag: "0.5",
        img: {
          path: "content/projects",
          name: "jawallery",
          format: "png",
          width: 500,
          height: 500,
          altText: "jawallery"
        }
      },
      //- {
      //-   title: "Jawallery",
      //-   category: "react card--left",
      //-   href: "https://accelerator-level-3-jewellery.vercel.app/",
      //-   info: {
      //-     title: "accelerator level-3",
      //-     subtitle: "Jewellery"
      //-   },
      //-   lag: "2",
      //-   img: {
      //-     path: "content/projects",
      //-     name: "jawallery",
      //-     format: "png",
      //-     width: 500,
      //-     height: 500,
      //-     altText: "jawallery"
      //-   }
      //- },
      //- {
      //-   title: "Smart-device",
      //-   category: "react card--center",
      //-   href: "https://github.com/arshtnkv/accelerator-level-2-smart-device",
      //-   info: {
      //-     title: "accelerator level-2",
      //-     subtitle: "Smart-device"
      //-   },
      //-   lag: "1",
      //-   img: {
      //-     path: "content/projects",
      //-     name: "smart-device",
      //-     format: "png",
      //-     width: 500,
      //-     height: 500,
      //-     altText: "smart-device"
      //-   }
      //- },
      {
        title: "Pubg master sway",
        category: "freelance card--center",
        href: "https://pubg-masters-way-arshtnkv.vercel.app/",
        info: {
          title: "Freelance Project",
          subtitle: "Pubg masters way"
        },
        lag: "0.5",
        img: {
          path: "content/projects",
          name: "pubgmastersway",
          format: "png",
          width: 500,
          height: 500,
          altText: "pubgmastersway"
        }
      },
    ]
  };
